<%- include("./partials/header.ejs") %>
<h2>Provenance Records for <%= deviceID %></h2>
<% for (const record of records) { %>
    <div><%= record.assertion %></div>
    <div style="font-size: x-small;"><%= record.createdAt %></div>
<% } %>
<hr>
<h2>Create New Provenance Record</h2>
<form method="POST">
    <div class="mb-3">
        <input type="text" class="form-control" name="assertion" required placeholder="Device Assertion">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("./partials/footer.ejs") %>